
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Messaging.NewMessage.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.Messaging.NewMessageGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>