
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Case.ProvinceCompanySoftware.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.Case.ProvinceCompanySoftwareGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>