
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Case.SMSLog.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.Case.SMSLogGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>