<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="CRM.Data.Properties.Settings.CRMConnectionString"
      connectionString="Data Source=.;Initial Catalog=CRM;Persist Security Info=True;User ID=sa;Password=pendar@crm100"
      providerName="System.Data.SqlClient" />
    <add name="CRM.Service.Properties.Settings.CRMConnectionString"
      connectionString="Data Source=.;Initial Catalog=CRM;User ID=sa;Password=pendar@crm100"
      providerName="System.Data.SqlClient" />
    <add name="CRM.Service.Properties.Settings.FolderConnectionString"
      connectionString="Data Source=.;Initial Catalog=CRM.Folder;User ID=sa;Password=pendar@crm100"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors >
        <behavior name="" >
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://78.39.252.109:89/CRMService.svc/mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="bindingConfig" openTimeout="00:15:00"  closeTimeout="00:15:00"  sendTimeout="00:15:00"  receiveTimeout="00:15:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="true" >
          <reliableSession enabled="true"  inactivityTimeout="23:25:00"   />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="ServiceHost.CRMService">
        <!--<endpoint address="" contract="ServiceHost.ICRMService" binding="wsHttpBinding" bindingConfiguration="ServiceBinding" />-->
        <endpoint address="" contract="ServiceHost.ICRMService" binding="wsHttpBinding" bindingConfiguration="bindingConfig">
          <identity>
            <dns value="192.168.240.104" />
          </identity>
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"  bindingConfiguration="bindingConfig"   />
    </protocolMapping>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="CRMService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
