
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Case.ActivityRequestHistory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.Case.ActivityRequestHistoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>