
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Case.Software.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.Case.SoftwareGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>