USE [Casemanagement]
GO
/****** Object:  Table [dbo].[ReportTemplate]    Script Date: 2018/05/06 9:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TABLE [dbo].[ReportTemplate](
	[ID] [int] NOT NULL,
	[Template] [varbinary](max) NULL,
	[Title] [nvarchar](100) NULL,
 CONSTRAINT [PK_JSReportTemplate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
