
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.StimulReport.ActivityRequestDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.StimulReport.ActivityRequestDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>