
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.WorkFlow.WorkFlowStatus.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.WorkFlow.WorkFlowStatusGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>