<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICRMService" useDefaultWebProxy="false" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://78.39.252.109:83/CRM.ServiceHost.CRMService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService"
          contract="crmservice.ICRMService" name="BasicHttpBinding_ICRMService" />
    </client>
  </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICRMService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICRMService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://78.39.252.109:85/CRMService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICRMService" contract="ServiceReference1.ICRMService"
                name="WSHttpBinding_ICRMService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAPW90N9zuqgxCk9ZF0+ZadY6osVsgAAAAAQAAAOQBAAAwggHgMIIBSaADAgECAhAUu0QhzIBWtkeBYgcXhEV0MA0GCSqGSIb3DQEBBQUAMBoxGDAWBgNVBAMTD1dJTi01SUFSQlJSOVIxVTAeFw0xNTA5MjkwNjAwMTVaFw0xNjA5MjgwNjAwMTVaMBoxGDAWBgNVBAMTD1dJTi01SUFSQlJSOVIxVTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAtsvtS9bBRFFm+E9aYgxkSomJsO4sRSRIhXf05KLUZdAg3viO3CGL/0xaDyd5og8ZC6PzwFPf8qAPVCtNOj78JLpRq3qOpDSUmVZbW2Lk3r4Xm8fBetB+ZoE3fUjaQ2I4wkLyZN4MBP5PEiX906roGTDgKxl2TQAHJH9RGdxzGM0CAwEAAaMnMCUwEwYDVR0lBAwwCgYIKwYBBQUHAwEwDgYDVR0PBAcDBQCwAAAAMA0GCSqGSIb3DQEBBQUAA4GBAEZJmPEKA8o0LfhBpQVHlcRw8fon6QGZHPkzse7HRUMlticGQ9O9puOUK3+LA3n/n5e8iwL7hwMjHyw+zmMIM8SLb0/AAQdlyAgRqsEyrrGzJvCl9pu7DJFa2PvZB5+sLkynwvgTif4VSPpYkOi4aLOA0lDdYMNNclT+8iEqVc/S" />
                </identity>
            </endpoint>
            <endpoint address="http://78.39.252.109:83/CRMService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICRMService" contract="ServiceReference2.ICRMService"
                name="BasicHttpBinding_ICRMService" />
        </client>
    </system.serviceModel>
</configuration>