
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Messaging.Inbox.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CaseManagement.Messaging.InboxGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>